/* :root {
    --white: #fff;
}

.stats-holder {
    gap: 1rem;
}

.cards {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
}

.card{
    height: 150px;
    width: 150px;
    background: var(--white);
}

.graph {
    height: 200px;
    width: 100%;
    background: var(--white);
}

.rightbar {
    width: 200px;
    height: 50vh;
    background: var(--white);
} */